@media only screen and (max-width: 800px) {
    body{
        box-sizing: border-box;
        padding: 2rem 0px;
        margin: 0px;
        font-family: 'Edu NSW ACT Foundation', cursive;
        font-size: 1.5rem;
    }

    div{
        border: solid 1px grey;
        width: 85%;
        padding: 1rem 0px;
        transition: .3s ease-in-out;
        transform: rotate(0deg);
    }

    #border{
        position: absolute;
        top: -2vh;
        left: 3vw;
        width: 93.5vw;
        height: 85vh;
        border: dashed 1px grey;
    }

}